# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment variables
.env